@import "../../assets/styles/mixing.scss";
@import "../../assets/styles/mixins/media.scss";
.element {
  margin: 60px 0;
  display: flex;
  // flex-wrap: wrap;
  align-items: center;
  flex-direction: column;

  // margin: 120px 100px;
  // }
  // @include media("xl") {
  //   grid-template-columns: 1fr 1fr;
  //   margin: 120px 0 0 0;
  // }

  @include media("lg") {
    flex-direction: row;
  }

  .boxes {
    // position: relative;
    display: flex;
    flex: 1;
    // margin-right: 50px;
    justify-content: center;

    @include media("lg") {
      transform: translateY(-25%);
    }

    .square {
      width: 150px;
      border-radius: 10px;
      aspect-ratio: 1;

      @include media("md") {
        width: 220px;
      }

      @include media("xl") {
        width: 310px;
      }

      &.right {
        background-color: var(--background-color-square-grey);
        transform: translateX(25%);
      }
      &.left {
        background-color: var(--background-color-square-orange);
        // transform: translate(-100px, 80px);
        transform: translate(-25%, 50%);
        opacity: 0.8;
      }
    }
  }

  .aboutUsData {
    flex: 1;
    text-align: center;
    margin-top: 100px;

    @include media("md") {
      margin-top: 150px;
    }

    @include media("lg") {
      margin-top: 0px;
    }
    h2 {
      display: inline;
    }
    h2:nth-child(3) {
      color: rgba(255, 72, 21, 1);
    }

    p {
      color: var(--color-font-p);
      margin-top: 20px;
    }

    ul {
      margin: 29px 0 49px 0;
      font-size: 15px;
      line-height: 22px;
      li {
        margin-bottom: 18px;
        svg {
          margin-right: 10px;
          background-color: #ff4815;
          border-radius: 50%;
          path {
            fill: white;
          }
        }
      }
    }

    button {
      color: #ff4815;

      &:hover {
        color: white;
      }
    }
    @include media("lg") {
      text-align: left;
      margin-top: 0;
    }
  }
}
