@import "../../assets/styles/mixing.scss";
@import "../../assets/styles//mixins/media.scss";

.element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;

  .textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    @include media("md") {
      margin: 0 100px;
    }

    @include media("xl") {
      margin: 0 238px;
    }

    h2 {
      line-height: 46.69px;
      font-weight: 700;
      margin: 7px 0 5px 0;
    }

    p {
      color: var(--color-font-p);
    }
  }

  .boxContainer {
    justify-content: center;
    margin-top: 81px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    width: 100%;
    :global(.react-multi-carousel-dot-list) {
      top: 467px;
    }
    :global(.react-multi-carousel-track) {
      align-items: center;
      margin-bottom: 85px;
    }
    :global(.react-multi-carousel-dot button) {
      width: 15px;
      height: 15px;
      background-color: #ff4815;
      border: none;
      position: relative;
    }
    :global(.react-multi-carousel-dot--active button) {
      background-color: #ff4815;

      &::before {
        position: relative;
        content: "";
        width: 20px;
        height: 20px;
        border: 1px solid #ff4815;
        border-radius: 50%;
        left: -3px;
        top: -3px;
        display: block;
      }
    }
    @include media("xl") {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      width: 100%;
    }
  }

  .box {
    position: relative;
    width: 270px;
    margin: 0 auto;

    .icons {
      width: 100%;
      position: absolute;
      bottom: 100px;
      display: flex;
      justify-content: center;
    }

    div:nth-child(3) {
      box-sizing: border-box;
      background: #ffffff;
      box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.14);
      border-radius: 0px 0px 70px 0px;
      padding: 15px 20px;
      height: 82px;

      h2 {
        font-size: 20px;
        line-height: 30px;
        font-weight: 700;
      }

      p {
        font-family: "Rosario";
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        color: #ff4815;
        opacity: 0.8;
        margin: 1px 0 0 0;
        text-align: left;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}
