@import "../../assets/styles/mixing.scss";
@import "../../assets/styles//mixins/media.scss";
.element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;

  .textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 693px;

    p:nth-child(1) {
      font-family: Poppins;
      color: #ff4815;
    }

    h1:nth-child(2) {
      line-height: 46.69px;
    }


  }

  .boxContainer {
    display: grid;
    justify-content: center;
    margin-top: 81px;
    margin-bottom: 68px;
    grid-template-columns: 1fr;
    grid-gap: 30px;
   
    // flex-direction: column;
    @include media("md") {
      grid-template-columns: 1fr 1fr;
    }
    @include media("xl") {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      width: 100%;
    }
  }

  .box {
    // margin: 30px;
    position: relative;
    .icons {
      width: 100%;
      position: absolute;
      bottom: 100px;
      display: flex;
      justify-content: center;
    }
    div:nth-child(3) {
      box-sizing: border-box;
      background: #ffffff;

      box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.14);
      border-radius: 0px 0px 70px 0px;
      padding: 15px 20px;
      // width: 270px;
      height: 82px;

      h1 {
        font-size: 20px;
        line-height: 30px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      p {
        font-family: "Rosario";
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        color: #ff4815;
        opacity: 0.8;
        margin: 1px 0 0 0;
        text-align: left;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  .boxContainer + div {
    width: 1440px;
    height: 15px;
    justify-content: center;
    div {
      width: 15px;
      height: 15px;
      background-color: #ff4815;
      margin-left: 15px;
    }
  }
}
