@import "../../assets/styles/mixing.scss";
@import "../../assets/styles//mixins/media.scss";

.container {
  margin: 120px auto 120px auto;

  .textContainer {
    text-align: center;
    @include media("md") {
      margin: 0 100px;
    }
    @include media("xl") {
      margin: 0 238px;
    }

    h2 {
      font-size: 32px;
      line-height: 48px;
      font-weight: 700;
      margin: 7px 0 5px 0;
    }

    p {
      color: var(--color-font-p);
    }
  }

  .toggleElement {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto 70px auto;
  }

  .toggleElement div {
    box-sizing: border-box;
    width: 140px;
    height: 40px;
    border: 1px solid #14212b;
    border: var(--border-toggle);
    border-radius: 0px 0px 0px 23px;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: 18px;
      line-height: 27px;
      font-family: "Poppins";
    }
  }

  .toggleElement div:nth-child(2) {
    border-radius: 0px 0px 23px 0px;
  }

  .pricingPlanBoxContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 1900px;
    @include media("xl") {
      flex-direction: row;
      height: auto;
    }
  }
}

.popularPlan {
  h2:nth-child(2) {
    color: white;
    font-size: 55px;
    line-height: 82.5px;
  }
}
