@import "../../assets/styles/mixing.scss";
@import "../../assets/styles//mixins/media.scss";

.container {
  margin: 120px auto 245px auto;
  .textContainer {
    // width: 693px;
    margin: 0 20%;
    text-align: center;
    margin: 30px auto;
    // text-transform: capitalize;
    // h1:nth-child(1) {
    //   font-weight: 500;
      
    //   font-size: 20px;
    //   line-height: 30px;
    // }

    h2:nth-child(2) {
      font-size: 32px;
      line-height: 48px;
      font-weight: 700;
    }
    p:nth-child(1) {
      // margin: 0 20%;
      font-family: Poppins;
      color: #ff4815;
      
    }
    h2 + p {
      width: 693px;
      // text-align: center;
      margin: 0 auto;
    }
  }
  .oblong {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto 70px auto;
  }
  .oblong div {
    box-sizing: border-box;
    width: 140px;
    height: 40px;
    border: 1px solid #14212b;
    border-radius: 0px 0px 0px 23px;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: 18px;
      line-height: 27px;
      font-family: "Poppins";
    }
  }
  .oblong div:nth-child(2) {
    border-radius: 0px 0px 23px 0px;
  }
  .pricingPlanBoxContainer {
    display: flex;
    flex-direction: column;
    // justify-content: space-around;
    justify-content: space-between;
    align-items: center;
    height: 1900px;

    @include media("xl") {
      flex-direction: row;
      // height: initial;
      height: auto;
      // justify-content: space-between;
    }
  }
}
