@import "../../assets/styles/mixing.scss";
@import "../../assets/styles/mixins/media.scss";
.element {
  // margin: 0 20%;
  text-align: center;
  margin-top: 60px;

  // width: 570px;
  // transform: translate(-25%);
  // margin: 10% 10%;

  // h2 {
  //   font-weight: 500;
  //   line-height: 50px;
  //   font-size: 20px;
  //   text-transform: capitalize;
  // }
  // h2:nth-child(2),
  // h2:nth-child(3) {
  //   font-size: 33px;
  //   font-weight: 700;
  //   line-height: 50px;
  //   display: inline;
  // }
  p:nth-child(1) {
    color: #ff4815;
    font-family: Poppins;
  }
  p {
    text-align: center;
    @include media("xl") {
      text-align: left;
    }
  }

  ul {
    margin: 29px 0;
    font-size: 15px;
    line-height: 22px;
    li {
      margin-bottom: 18px;
      svg {
        margin-right: 10px;
        background-color: #ff4815;
        border-radius: 50%;
        path {
          fill: white;
        }
      }
    }
  }

  button {
    color: #ff4815;

    &:hover {
      color: white;
    }
  }
  @include media("xl") {
    // margin: 5%;
    // margin: 0;
    text-align: left;
    margin-top: 0;
  }
}
