@import "../../assets/styles/mixing.scss";
@import "../../assets/styles//mixins/media.scss";

.wrapper {
  display: flex;
  align-items: center;
  background-color: var(--background-color-footer);
  padding: 20px;
  border-radius: 8px;
  @include media("lg") {
    height: 900px;
    background: var(--background-img-footer);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    border-radius: 0;
  }
  @include media("xl") {
    height: 518px;
  }

  .container {
    margin: 40px 0;
    @include media("lg") {
      transform: translateY(50px);
    }

    @include media("xl") {
      margin: auto;
    }

    .element {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 1fr;
      justify-content: center;

      @include media("md") {
        grid-template-columns: 1fr 1fr;
      }

      @include media("xl") {
        grid-template-columns: 1.3fr 1fr 0.6fr 1fr;
      }
    }
  }
}
