.element {
  margin-top: 60px;

  .textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20%;
    p:nth-child(1) {
      font-family: Poppins;
      color: rgba(255, 72, 21, 1);
    }

    h1:nth-child(2) {
      font-weight: 700;
      font-size: 32px;
      line-height: 46px;
      text-align: center;
    }
  }
}
