@import "../../assets/styles/mixing.scss";
@import "../../assets/styles//mixins/media.scss";

.element {
  width: 100%;
  max-width: 100%;
  padding: 0 40px;
  margin-top: 0px;

  @include media("xs") {
    margin-top: 90px;
  }

  @include media("lg") {
    margin-top: 120px;
  }
  @include media("xl") {
    width: 1170px;
    margin: 120px auto 0 auto;
    padding: initial;
  }
}
