@import "../../assets/styles/mixing.scss";
@import "../../assets/styles//mixins/media.scss";

.element {
  width: 100%;
  max-width: 100%;
  margin: 0 40px;
  @include media("xl") {
    width: 1170px;
    margin: 0 auto;
  }
}
