.element {
  div {
    width: 370px;
    height: 250px;
  }
  div:nth-child(1) {
    border-radius: 10px 10px 0px 0px;
  }
  div + div {
    position: relative;
    border-radius: 0px 0px 10px 10px;
    box-sizing: border-box;
    width: 370px;
    height: 153px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.18);
    padding: 50px 12px;
    h1:nth-child(1) {
      font-weight: 700;
      font-size: 17px;
      line-height: 25.5px;
      text-align: justify;
    }
    p {
      text-align: start;
      font-family: "Poppins";
      color: #ff4815;
      font-weight: 700;
      font-size: 13px;
      line-height: 161.1%;
    }
    div {
      position: absolute;
      width: 161px;
      height: 35px;
      left: 0;
      top: 0;
      background-color: #ff4815;
      opacity: 0.8;
      border-radius: 0px 0px 20px 0px;
    }
    div + div {
      position: absolute;
      width: 161px;
      height: 35px;
      right: 0;
      top: 0;
      background-color: #ff4815;
      opacity: 0.8;
      border-radius: 0px 0px 20px 0px;
    }
  }
  div {
    pointer-events: none;
  }
}
