@import "../../assets/styles/mixing.scss";
@import "../../assets/styles//mixins/media.scss";

.element {
  text-align: center;
  width: 100%;
  height: 100%;
  @include media("lg") {
    padding-top: 30px;
  }

  .txtStyle {
    margin: 0 25px;

    @include media("sm") {
      width: 571px;
    }
    @include media("sm") {
      margin: 0 auto;
    }
    @include media("lg") {
      padding-bottom: 60px;
    }
    h1 {
      text-align: center;
      font-size: 24px;
      line-height: 28px;
      font-weight: 700;
      display: inline;
      color: rgba(255, 255, 255, 1);
      @include media("xs") {
        font-size: 30px;
      }

      @include media("md") {
        font-size: 58px;
        line-height: 75.57px;
      }
    }

    h1:nth-child(2) {
      color: rgba(255, 72, 21, 1);
    }

    p {
      margin: 20px 0;
      color: rgba(255, 255, 255, 1);
      line-height: 23.54px;
      @include media("md") {
        margin: 20px 0 44px 0;
      }
    }

    .buttonStyles {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
      gap: 10px;
      padding-bottom: 50px;
      @include media("xs") {
        flex-direction: row;
        width: 295px;
        gap: inherit;
      }
      @include media("md") {
        padding-bottom: 98px;
      }
      @include media("lg") {
        padding-bottom: inherit;
      }
    }
  }
  :global(.react-multiple-carousel__arrow) {
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 50%;
    min-width: 28px;
    min-height: 28px;
    bottom: 10px;
    @include media("md") {
      bottom: 0px;
    }
    @include media("lg") {
      bottom: 31px;
    }
  }

  :global(.react-multiple-carousel__arrow)::before {
    width: 8px;
    height: 14px;
    display: inline;
  }

  :global(.react-multiple-carousel__arrow--left) {
    @include media("md") {
      left: inherit;
      right: 107px;
    }
  }

  :global(.react-multiple-carousel__arrow--right) {
    right: 31px;
  }

  .carouselContainer button {
    background: black;
  }
}
