@import "../../assets/styles/mixing.scss";
@import "../../assets/styles//mixins/media.scss";

.element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  height: 100%;
  // transform: translateY(50%);

  .txtStyle {
    // width: 571px;
    margin: 0 25px;

    @include media("sm") {
      width: 571px;
    }
    @include media("sm") {
      margin: 0 auto;
    }
    h1 {
      text-align: center;
      font-size: 28px;
      line-height: 28px;
      font-weight: 700;
      display: inline;

      @include media("sm") {
        font-size: 58px;
        line-height: 75.57px;
      }
    }

    p {
      margin: 20px 0 44px 0;
      color: rgba(255, 255, 255, 1);
    }

    .buttonStyles {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
      gap: 10px;
      @include media("xs") {
        flex-direction: row;
        width: 295px;
        gap: inherit;
      }
    }
  }
  :global(.react-multi-carousel-list) {
    height: 100%;
  }
  :global(.react-multiple-carousel__arrow) {
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 50%;
    min-width: 28px;
    min-height: 28px;
    bottom: 31px;
  }

  :global(.react-multiple-carousel__arrow)::before {
    width: 8px;
    height: 14px;
    display: inline;
  }

  :global(.react-multiple-carousel__arrow--left) {
    // left: 1280px;
    // margin-left: 900px;
    // transform: translateX(900px);
    // position: fixed;
    right: 107px;
    left: inherit;
  }

  :global(.react-multiple-carousel__arrow--right) {
    right: 31px;
    // position: fixed;
  }

  .carouselContainer button {
    background: black;
  }
}
