.element {
  cursor: pointer;
  p {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
  }

  &.on {
    background-color: var(--background-color-toggle);
    p {
      color: white;
    }
  }
  &.off {
    background-color: white;
    p {
      color: #ff4815;
    }
  }
}
