@import "../../assets/styles/mixing.scss";
@import "../../assets/styles//mixins/media.scss";

.container {
  margin-top: 120px;
}
.element {
  text-align: center;

  h3 + h2 {
    line-height: 48px;
    margin-top: 10px;
  }

  // > p {
  //   font-family: Poppins;
  //   text-align: left;
  //   color: rgba(255, 72, 21, 1);
  //   color: pink;
  //   text-align: center;
  // }

  .blogArticleContainer {
    display: flex;
    // grid-template-columns: 1fr;
    // justify-content: space-around;
    flex-direction: column;
    // margin-top: 7px;
    margin-bottom: 120px;
    justify-content: center;
    @include media("xs") {
      align-items: center;
    }

    @include media("sm") {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;
    }

    @include media("md") {
      grid-template-columns: 1fr 1fr;
    }

    @include media("xl") {
      height: initial;
      justify-content: space-between;
      flex-wrap: nowrap;
      grid-template-columns: 1fr 1fr 1fr;
    }

    > div {
      margin-top: 47px;
      width: 100%;

      @include media("sm") {
        flex: 2;
        flex-grow: 0;
      }

      @include media("xl") {
        width: initial;
      }
    }

    > div:nth-last-child(1) {
      // margin: 0 auto;
      justify-self: center;
    }
  }
}

.element h2:nth-child(1) {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
