@import "../../assets/styles/mixing.scss";
@import "../../assets/styles//mixins/media.scss";

.element {
  text-align: center;
  > p {
    font-family: Poppins;
    text-align: left;
    color: rgba(255, 72, 21, 1);
    text-align: center;
  }
  
  .blogArticleContainer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 7px;
    margin-bottom: 120px;
    @include media("xs") {
      align-items: center;
    } 
    @include media("lg") {
      flex-direction: row;
    }
    @include media("xl") {
      height: initial;
      justify-content: space-between;
    }

    > div {
        margin-top: 47px;
        width: 100%;

        @include media("xl") {
          width: initial;
        }
    }
  }
}

.element h1:nth-child(1) {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
