@import "../../assets/styles/mixing.scss";
@import "../../assets/styles//mixins/media.scss";

.container {
  margin-top: 191px;
}
.element {
  text-align: center;

  p + h2 {
    font-size: 32px;
    line-height: 48px;
  }

  > p {
    font-family: Poppins;
    text-align: left;
    color: rgba(255, 72, 21, 1);
    text-align: center;
  }

  .blogArticleContainer {
    display: grid;
    grid-template-columns: 1fr;
    // justify-content: space-around;
    flex-direction: column;
    margin-top: 7px;
    margin-bottom: 120px;
    @include media("xs") {
      align-items: center;
    }

    @include media("sm") {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;
    }

    @include media("md") {
      grid-template-columns: 1fr 1fr;
    }

    @include media("xl") {
      height: initial;
      justify-content: space-between;
      flex-wrap: nowrap;
      grid-template-columns: 1fr 1fr 1fr;
    }

    > div {
      margin-top: 47px;
      width: 100%;

      @include media("sm") {
        flex: 2;
      }

      @include media("xl") {
        width: initial;
      }
    }
  }
}

.element h2:nth-child(1) {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
