.element {
  margin-top: 187px;
  h1:nth-child(1) {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    margin-bottom: 19px;
  }
  .divContainer {
    display: flex;
    h1 {
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.05em;
      margin-bottom: 12px;
    }

    div {
      margin-right: 37px;
    }
  }

  .contactBoxContainer {
    .contactBox {
      display: flex;
      img {
        margin-left: -10px;
      }
    }
  }
}
