@import "../../assets/styles/mixing.scss";
@import "../../assets/styles//mixins/media.scss";
.element {
  ul,
  div {
    list-style-type: none;
    font-family: "Poppins";
    margin: 0;
    margin: 0 20px 0 0;
    padding: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: #ffffff;
    li {
      margin-bottom: 12px;
      transition: 0.3s;
      &::before {
        content: "-";
        color: #ff4815;
        min-width: 15px;
        display: inline-flex;
      }
      &:hover {
        cursor: pointer;
        color: #ff4815;

        &::before {
          content: "+";
          color: #ff4815;
        }
      }
    }
  }

  // margin-top: 187px;

  h1:nth-child(1) {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    margin-bottom: 19px;
    // margin-top: 20px;
  }
  .container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-right: 0;
    @include media("xs") {
      // justify-content: space-evenly;
      justify-content: flex-start;
    }
    @include media("lg") {
      justify-content: start;
    }
  }

  .contactBoxContainer {
    .contactBox {
      display: flex;
      margin-bottom: 15px;
      img {
        margin-left: -10px;
      }
      // .contactListContainer li {
      //   margin-bottom: 4px;
      // }
    }
  }
}
