@import "../../assets/styles/mixing.scss";
@import "../../assets/styles//mixins/media.scss";

.wrapper {
  background: var(--bg-testimonial);

  .container {
    display: grid;
    grid-template-columns: 1fr;

    @include media("xl") {
      grid-template-columns: 0.5fr 1fr;
    }

    :global(.react-multi-carousel-dot-list) {
      @include media("xl") {
      }
    }

    :global(.react-multi-carousel-dot button) {
      width: 15px;
      height: 15px;
      background-color: #ff4815;
      border: none;
    }
    :global(.react-multi-carousel-dot--active button) {
      background-color: #ff4815;

      &::before {
        position: relative;
        content: "";
        width: 20px;
        height: 20px;
        border: 1px solid #ff4815;
        border-radius: 50%;
        left: -3px;
        top: -3px;
        display: block;
      }
    }

    .testimonialContent {
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      margin-bottom: 20px;

      @include media("lg") {
        justify-content: space-around;
      }
      @include media("xl") {
        flex-direction: row;
        justify-content: center;
        position: relative;
      }

      .element {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        @include media("xl") {
          text-align: left;
          margin-right: 13px;
          width: 387px;
        }

        h3 {
          padding-top: 20px;
          @include media("xl") {
            padding-top: 0px;
          }
        }

        h2 {
          color: var(--color-h2-testimonial);
        }

        h2:nth-child(2) {
          font-size: 36px;
          line-height: 47.23px;
          font-weight: 700;
          margin: 14px 0 19px 0;
        }

        h2 + p {
          font-size: 16px;
          line-height: 25.02px;
          text-align: center;

          @include media("xl") {
            text-align: left;
          }
        }
      }
    }
  }
}
