.element {
  box-sizing: border-box;
  // width: 100%;
  // left: 0px;
  // top: 2188px;
  // padding: 60px;
  background: #14212b;
  opacity: 0.85;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 370px;
  // margin-top: 8%;
}
