@import "../../assets/styles/mixing.scss";
@import "../../assets/styles//mixins/media.scss";

.wrapper {
  background-color: var(--background-color-wrapper);
  background-repeat: no-repeat;
  background-size: cover;
}

.element {
  box-sizing: border-box;
  width: 100%;
  opacity: 0.85;
  display: grid;
  justify-items: center;
  align-items: center;
  height: 1000px;
  @include media("xs") {
    grid-template-columns: 1fr;
  }
  @include media("md") {
    grid-template-columns: 1fr 1fr;
    height: 500px;
    padding: 0 10%;
  }
  @include media("xl") {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 370px;
    padding: 0;
  }
}
