.element {
  &.hasClass {
    &-popularPlan {
      margin-top: 60px;
      margin-bottom: 70px;
      li {
        font-size: 18px;
        line-height: 27px;
        color: var(--font-color-li);
      }
    }
  }
  list-style: none;
  padding: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  // color: #1a2c42;
  color: var(--font-color-li);
}
