.element {
  width: 370px;
  height: 222px;
  margin-bottom: 50px;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.5s;
  // h2,
  // p {
  //   transition: 0.5;
  // }

  &:hover {
    cursor: pointer;
    background-color: #ff4815;
    h2 {
      color: white;
    }
    p {
      color: white;
    }
    .ellipse {
      background-color: #ffffff;
    }
    .number {
      color: #ff4815;
    }
    .txt p:nth-child(3) {
      color: white;
    }
    .rectangleAndTxt div:nth-child(1) {
      background-color: #ffffff;
    }
  }

  .ellipse {
    position: absolute;
    width: 59px;
    height: 52px;
    border-bottom-right-radius: 100%;
    border-top-left-radius: 10px;
    background: #ff4815;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    // &:hover {
    //   background: #ffffff;
    // }

    // .number {

    //   color: white;
    //   &:hover {
    //     color: #ff4815;
    //   }
    // }
  }

  .number {
    font-family: Poppins;
    font-size: 25px;
    font-weight: 700;
    line-height: 37.5px;
    color: #ffffff;
    transition: 0.5s;
  }

  .rectangleAndTxt {
    display: flex;
    align-items: center;
    height: 100%;
    border: 2px solid #ff4815;
    border: var(--border-services);
    border-radius: 10px;
    // transition: 2s;
    div:nth-child(1) {
      margin-left: 24px;
      width: 75px;
      height: 76px;
      background: rgba(255, 72, 21, 0.3);
      border-radius: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.5s;
    }
  }

  .txt {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 24px;
    // transition: 2s;

    h2 {
      font-weight: 600;
      text-align: left;
      margin-bottom: 15px;
      font-size: 20px;
      line-height: 30px;
      // transition: 2s;
    }
    p {
      line-height: 22.63px;
      text-align: left;
    }
    p:nth-child(3) {
      font-weight: 600;
      color: #ff4815;
      margin-top: 25px;
      transition: 0.5s;
    }
  }
}

// .element:hover {
//   cursor: pointer;
//   background-color: #ff4815;
//   h2 {
//     color: white;
//   }
//   p {
//     color: white;
//   }
//   .ellipse {
//     background-color: #ffffff;
//   }
//   .number {
//     color: #ff4815;
//   }
//   p:nth-child(3) {
//     color: white;
//   }
//   .rectangleAndTxt div:nth-child(1) {
//     background-color: #ffffff;
//   }
// }
