@import "../../assets/styles/mixing.scss";
@import "../../assets/styles//mixins/media.scss";
.element {
  // width: 370px;
  // width: 100%;
  width: 310px;
  height: 222px;
  margin-bottom: 50px;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.5s;
  border: var(--border-services);
  padding-right: 8px;
  // @include media("xxs") {
  //   width: 370px;
  // }

  &:hover {
    cursor: pointer;
    background-color: #ff4815;
    h2 {
      color: white;
    }
    p {
      color: white;
    }
    .ellipse {
      background-color: #ffffff;
    }
    .number {
      color: #ff4815;
    }
    .txt p:nth-child(3) {
      color: white;
    }
    .rectangleAndTxt div:nth-child(1) {
      background-color: #ffffff;
    }
  }

  .ellipse {
    position: absolute;
    width: 59px;
    height: 52px;
    border-bottom-right-radius: 100%;
    border-top-left-radius: 10px;
    background: #ff4815;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
  }

  .number {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 37.5px;
    color: #ffffff;
    transition: 0.5s;
  }

  .rectangleAndTxt {
    display: flex;
    align-items: center;
    height: 100%;
    border-radius: 10px;
    div:nth-child(1) {
      margin-left: 24px;
      width: 75px;
      // height: 76px;
      background: rgba(255, 72, 21, 0.3);
      border-radius: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.5s;
      @include media("lg") {
        height: 75px;
      }
    }
    svg {
      width: 70px;
    }
  }

  .txt {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 24px;

    h2 {
      font-weight: 600;
      text-align: left;
      font-size: 20px;
      line-height: 30px;
    }
    p {
      line-height: 22.63px;
      text-align: left;
      margin: 10px 0 7px 0;
    }
    p:nth-child(3) {
      font-weight: 600;
      color: #ff4815;
      transition: 0.5s;
    }
  }
}
