.element {
  background: url(../../assets/images/testimonial-box-background.jpg);
  // margin-left: 35px;
  width: 368px;
  height: 229px;
  position: relative;
  padding-top: 25px;
  margin: 0 auto;

  svg:nth-child(1) {
    position: absolute;
    top: 34px;
    left: 22px;
  }
  .text {
    width: 58px;
    height: 58px;
    background-color: rgba(196, 196, 196, 1);
    border-radius: 50%;
    margin: 0 auto;
  }
  p {
    text-align: center;
  }
  // p {
  p:nth-child(3) {
    color: rgba(255, 255, 255, 1);
    width: 305px;
    margin: 7px auto;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18.33px;
  }
  p:nth-child(4) {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22.63px;
    color: #ff4815;
    margin: 0 auto;
  }
  p:nth-child(5) {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
    margin: 2px auto;
  }

  svg:nth-child(6) {
    position: absolute;
    top: 180px;
    left: 310px;
    transform: rotate(180deg);
  }
}
