@import "../../assets/styles/mixing.scss";
@import "../../assets/styles//mixins/media.scss";

.element {
  position: relative;
  background-color: var(--background-color-wrapper);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 120vh;

  @include media("xs") {
    height: 100%;
  }

  .container {
    width: 100%;
    display: flex;
    display: flex;
    flex-direction: column;
    z-index: 111;
    padding: 25px;

    @include media("md") {
      flex-direction: row;
      justify-content: space-around;
    }
    @include media("lg") {
      padding: 50px 0 0 0;
    }
  }

  .container img {
    width: 148px;
    height: 28px;
    order: inherit;
    margin-top: 0px;
    @include media("xl") {
      order: inherit;
    }
  }
}
