.element {
  div {
    position: absolute;
    p {
      // color: rgba(255, 255, 255, 1);
      // font-family: "Poppins", sans-serif;
      // line-height: 16.5px;
      // transition: 0.5;
      // &:hover {
      //   color: rgba(255, 72, 21, 1);
      // }
    }
  }
  div:nth-child(1) {
    left: 25px;
    bottom: 225px;
  }
  div:nth-child(2) {
    left: 66px;
    bottom: 148px;
  }
  div:nth-child(3) {
    left: 113px;
    bottom: 85px;
  }
  div:nth-child(4) {
    left: 187px;
    bottom: 46px;
  }
  div:nth-child(5) {
    left: 273px;
    bottom: 19px;
  }

  div:nth-child(6) {
    right: 107px;
    bottom: 31px;
  }
  div:nth-child(7) {
    right: 31px;
    bottom: 31px;
    svg {
      transform: rotate(180deg);
    }
  }
}
