@import "mixing";

:root {
  --background-color: white;
  --background-color-font: black;
  --toggle-background-color: green;

  &[dark-mode="true"] {
    --background-color: pink;
    --background-color-font: white;
    --toggle-background-color: red;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  font-family: "Ubuntu", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-weight: 500;
  background-color: var(--background-color);
  color: var(--background-color-font);
}

// .dark-mode {
//   background-color: yellow;
// }

// .dark {
//   background-color: black;
// }
