.elementInServices {
  text-align: center;
  h1:nth-child(1) {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
  }

  p:nth-child(3) {
    width: 693px;
    margin: 0 auto;
    font-size: 15px;
    color: #717171;
  }

  .containerOfDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    // align-items: center;
    margin: 50px auto;
    width: 1170px;
    // margin: 50px 135px 140px 135px;
    p {
      margin: 0;
      width: 223px;
    }
  }
}
