@import "../../assets/styles/mixing.scss";
@import "../../assets/styles//mixins/media.scss";

.element {
  text-align: center;

  p {
    color: var(--color-font-p);
  }

  h3 + h2 {
    margin: 7px 0 5px 0;
  }

  h2 + p {
    margin: 0 30px;

    @include media("sm") {
      margin: 0 60px;
    }

    @include media("md") {
      margin: 0 100px;
    }
  }

  .containerOfDiv {
    display: grid;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px auto;
    justify-items: center;
    @include media("lg") {
      grid-template-columns: 1fr 1fr;
    }
    @include media("xl") {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
