.element {
  text-transform: uppercase;
  font-family: "Poppins";
  font-size: 14px;
  line-height: 21px;
  // color: rgba(255, 255, 255, 1);
  transition: 0.5s;
  color: pink;
  svg path {
    opacity: 1;
    transition: 0.5s;
  }
  p {
    color: green;
  }
  &:hover {
    p {
      color: rgba(255, 72, 21, 1);
    }
  }
  // p {
  //   &:hover {

  //   }
  // }
  // &:hover,
  // &:hover svg path {
  //   stroke: rgba(255, 72, 21, 1);
  //   color: rgba(255, 72, 21, 1);
  //   cursor: pointer;
  // }
}
